.checkout-btn {
    background-color: #ffcccc; /* Light red */
    color: white; /* Ensure text is readable */
}

.continue-btn {
    background-color: #ccffcc; /* Light green */
    color: black; /* Ensure text is readable */
}
form {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

button {
    outline: none;
}

