{# templates/checkout/cancel.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Checkout Cancelled{% endblock %}

{% block body %}
    <div class="container">
        <h1>Checkout Cancelled</h1>
        <p>Your checkout process was cancelled. We hope to see you back soon!</p>
        
        <div class="actions">
            <p>If you want to continue shopping, you can:</p>
            <ul>
                <li><a href="{{ path('app_cart') }}" class="btn btn-primary">Go to your Cart</a></li>
                <li><a href="{{ path('app_home') }}" class="btn btn-secondary">Return to Homepage</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
